/*gallery*/

.gallery {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
}

.gallery::after {
    content: "";
    display: block;
    flex-grow: 10;
}

.gallery li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*RESA*/

.resa h1 {
    text-align: center;
}

.resa form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
  
.resa input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
.resa input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.resa select {
    width: 100%;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    cursor: pointer;
  }
  
.resa input[type="submit"]:hover {
    background-color: #45a049;
  }
  
